<header>
    <h4>Projet Démo Angular TB .Net dev !</h4>
    <button (click)="login()">login</button>
    <button (click)="logout()">logout</button>
</header>
<div class="nav">
    <app-nav [listeLien]="listeLien"></app-nav>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>

<app-loader *ngIf="loadingService.isLoading$ | async"></app-loader>